@import "../../../../assets/css/mixin.scss";

.delivery-address {
  padding: 30px 20px;
  background-color: var(--color-white);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

  &__head {
    @include flex-item-center(center, flex-start);
    padding-bottom: 20px;
    color: var(--color-orange-bold);
    font-size: 1.1em;
    font-weight: 600;

    & > p {
      padding-left: 8px;
    }
  }

  &__info {
    width: 80%;
    @include flex-item-center(center, space-between);
    font-size: 1.1em;

    &-default {
      color: var(--color-text);
    }

    &-change {
      background-color: var(--color-orange);
      color: var(--color-white);
      padding: 12px 20px;
      border: none;
      border-radius: 5px;
      font-weight: 600;
    }
  }
}
