.paperBox {
  position: relative;
  width: 100%;
  z-index: 10;
}

.wrapper {
  padding: 40px 30px;
  animation: myEffect 3s ease;
  position: absolute;
  top: 0;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border: 1px solid #85d6df;
  right: 100px;
  border-radius: 4px;
  font-size: 1.2em;

  & span {
    padding-bottom: 15px;
    display: block;
  }
}

.boxButton {
  margin-top: 12px;

  & > button {
    margin-right: 8px;
  }
}

@keyframes myEffect {
   0% {
      right: 80px;
      opacity: 0.5;
   }

   50% {
      right: 40px;
      opacity: 0.8;
   }

   100% {
      opacity: 1;
      right: 32px;
   }
}