:root {
   --color-text-gray66: #666666;
   --color-text-graya4: #a4a4a4;
   --color-orange: #ffa500;
   --color-orange-bold: #fb6017;
   --color-heading: #3c3451;
   --color-text: #afafaf;
   --color-white: #fff;
 }

