input#search {
  outline: none;
  border: none;
  height: 50px;
  padding-left: 10px;
  width: 85%;
  border-radius: 6px;
}

.search-submit {
  border: none;
  background-color: #fff;
}

.form-search {
  width: 300px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 6px;
}
